* {
    font-family: arial;
}
.title {
    text-align: center;
    margin-top: 10%;
    position: center;
    border: 0px;
    font-size: 60px;
    font-family: arial;
    color: purple;
}

#description {
    text-align: center;
    display: flex;
    font-size: 20px;
    font-family: arial;
    color: purple;
    border: 0px;
    width: 40%;
    margin: auto;
}

.button {
    font-size: 14px;
    background-color: #9933ff;
    color: white;
    display: block;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
}
.button:hover {
    background-color: #cc33ff;
}
#start-button {
    padding: 10px 30px;  
    margin-left: 45%;
    margin-top: 5%;
}

#question {
    font-weight: bold;
    width: 60%;
    text-align: left;
    margin-top: 25px;
    margin-left: 20%;
    font-size: 40px;
}

ul {
    list-style-type: none;
}

.options {
    margin-left: 17%;
}

.button-option {
    margin-bottom: 12px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30;
    padding-right: 50px;
}

#answer-check {
    color: lightgray;
    width: 60%;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 20px;
}

#check {
    color: gray;
    font-style: italic;
    font-size: 20px;
}

#high-score {
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
}

#initials-box {
    border-radius: 8px;
    width: 150px;
    height: 20px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#score {
    font-weight: bold;
}

#submit-button {
    font-size: 14px;
    padding: 8px 20px;
}

#timer {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}



.highscore {
    color: white;
    background-color: #9933ff;
    border-radius: 2px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#highscore-link {
    color: #9933ff;
    font-size: 14px;
    text-decoration: none;
}

.highscore-buttons {
    font-size: 14px;
    padding: 10px 20px;
}

.highscore-buttons-centering {
    margin-left: 40%;
    margin-top: 20px;
}